{% set title = 'NVDA-18: Navigate by form elements' %}
{% set id = 'nvda-18-navigate-by-form-elements' %}

{% set description %}
<p>
  A user should be able to navigate the page by form elements. This includes radio buttons, checkboxes, text fields etc.
</p>
{% endset %}