{%- set how -%}
<ol>
  <li>Press <span class="at-keys">CTRL + Home</span> to navigate to the top of the page</li>
  <li>Press <span class="at-keys">F</span> to move through each of the form elements on the page</li>
</ol>
{%- endset -%}