{%- set what -%}
<p>
  Confirm that:
  <ul>
    <li>
      if the field expects a certain format, that the format can be easily achieved 
      using voice only.
    </li>
    <li>
      you can submit the form with no validation errors.
    </li>
  </ul>
</p>
{%- endset -%}
