{% set title = 'NVDA-09: Bypass blocks' %}
{% set id = 'nvda-09-bypass-blocks' %}

{% set description %}
<p>
  Content which is repeated on multiple pages should have a mechanism which allows the user to skip past it. For example: a skip to main content link.
</p>
{% endset %}