{%- set what -%}
<p>
  Confirm that:
  <ul>
    <li>all links make sense out of context</li>
    <li>all links work and their destination is expected</li>
    <li>no links have the same description but different destinations</li>
  </ul>
</p>
{%- endset -%}