{%- set what -%}
<p>
  Confirm that:
  <ul>
    <li>you can navigate to every list on the page</li>
    <li>all lists are read out correctly</li>
    <li>all lists are selected in a logical order</li>
    <li>any hidden lists add value and do not cause confusion</li>
  </ul>
</p>
{%- endset -%}