{%- set how -%}
<ol>
  <li>Press <span class="at-keys">CTRL + ALT + U</span> to display the "Rotor"</li>
  <li>Press <span class="at-keys">Right Arrow</span> to navigate between sections"</li>
  <li>Navigate between the sections and check that what is on the page is reflected correctly</li>
</ol>
{%- endset -%}