{% set title = 'NVDA-04: Dynamic content' %}
{% set id = 'nvda-04-dynamic-content' %}

{% set description %}
<p>
  Pop-ups, modals and expanded sections should be announced. Anything which causes the page content to change without refreshing must be available to screenreader users.
</p>
{% endset %}