{%- set how -%}
<ol>
  <li>Activate the element which triggers the dynamic content to change</li>
  <li>Wait for the screen reader to finish talking</li>
  <li>Observe whether the changes were announced</li>
</ol>
{%- endset -%}