{%- set what -%}
<p>
  Confirm that:
  <ul>
    <li>when content changed dynamically the screenreader notifies you of changes</li>
    <li>the announcement is polite, and does not interrupt the screenreader unless it is an emergency</li>
  </ul>
</p>
{%- endset -%}