html {
  font-family: sans-serif;
  font-size: 1em;
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
}

main { position: relative; }
h1 { font-size: 3rem; }
h2 { font-size: 2.25rem; }
h3 { font-size: 1.5rem; }
h4 { font-size: 1.1875rem; }
li, a, p, dt, dl, dd, span { font-size: 1.1875rem; }
footer { margin-top: 5rem; }
nav,
section {
  margin-bottom: 3rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid #a7a7a7;
}

a:focus {
  outline: 3px solid transparent;
  color: #0b0c0c;
  background-color: #ffdd00;
  box-shadow: 0 -2px #ffdd00, 0 4px #0b0c0c;
  text-decoration: none;
}

section:last-of-type {
  border: 0;
  padding-bottom: 0;
}

.at-container {
  width: 100%;
  max-width: 660px;
  margin: auto;
}

.at-keys {
  font-family: monospace;
  color: #c74424;
  background-color: #fdf4f2;
  padding-left: .5em;
  padding-right: .5em;
}

dl.at-inline dd {
  display: inline;
  margin: 0;
}
dl.at-inline dd:after{
  display: block;
  content: '';
}
dl.at-inline dt{
  font-weight: 700;
  display: inline-block;
  min-width: 10rem;
}
