{%- set what -%}
<p>
  Confirm that:
  <ul>
    <li>the page title describes the page</li>
    <li>the page title describes the website</li>
    <li>the page title does not contain personally identifiable information</li>
    <li>the page title and the h1 match (unless personally identifiable)</li>
  </ul>
</p>
{%- endset -%}