{% set title = 'NVDA-17: Navigate by checkboxes' %}
{% set id = 'nvda-17-navigate-by-checkboxes' %}

{% set description %}
<p>
  A user should be able to navigate the page by checkboxes.
</p>
{% endset %}