{%- set what -%}
<p>
  Confirm that:
  <ul>
    <li>you can navigate to every checkbox on the page</li>
    <li>you can navigate to every checkbox in each group</li>
    <li>you can check and uncheck each checkbox</li>
    <li>whenever a checkbox is checked it is announced</li>
    <li>whenever a checkbox is unchecked it is announced</li>
    <li>all checkbox labels are read out correctly</li>
    <li>all checkbox are navigated in a logical order</li>
    <li>no hidden checkbox can be selected</li>
  </ul>
</p>
{%- endset -%}