{%- set how -%}
<ol>
  <li>Press <span class="at-keys">CTRL + Home</span> to navigate to the top of the page</li>
  <li>Press <span class="at-keys">T</span> to move through each of the form elements on the page</li>
  <li>Hold <span class="at-keys">CTRL + Alt</span> and use <span class="at-keys">Arrow Keys</span> to navigate between the columns and rows</li>
</ol>
{%- endset -%}