{% set details = {
  date: '[date]',
  site: {
    name: '[site name]',
    http: '[http or https]',
    url: 'www.[url].[domain]'
  },
  tester: {
    name: '[tester name]',
    url: '[tester contact url]'
  },
  assistiveTech: {
    name: 'Voice Control',
    id: 'voice-control',
    browser: '[browser and version]',
    version: '[assistive tech version]'
  }
} %}