{%- set what -%}
<p>
  Confirm that:
  <ul>
    <li>you can navigate to every combo box on the page</li>
    <li>you can navigate to every option in each combo box</li>
    <li>all combo boxes have a label which makes sense</li>
    <li>you can select every option in each combo box</li>
    <li>all combo box options read out correctly</li>
    <li>all combo boxes are navigated in a logical order</li>
    <li>no hidden combo boxes can be selected</li>
  </ul>
</p>
{%- endset -%}