{% set title = 'Read all page content' %}
{% set id = 'read-all-page-content' %}

{% set description %}
<p>
  Confirm that all the content on the page can be read by just scrolling up and 
  down, and that no horizontal scrolling is required.
</p>
<p>
  WCAG only allows horizontal scrolling for certain types of content if it is 
  absolutely necessary. If you do have to horizontally scroll to see some content, 
  make sure it is on the following exception list:
</p>
<ul>
  <li>Images required for understanding, such as a map or diagram</li>
  <li>Video</li>
  <li>Games</li>
  <li>Presentations</li>
  <li>Data tables, but not individual cells</li>
  <li>Interfaces where it is necessary to keep the toolbars in view while manipulating content</li>
</ul>


{% endset %}