{%- set how -%}
<ol>
  <li>
    Load the page. Make sure no content is missing off the left or right of the page.
  </li>
  <li>
    Say <span class="at-keys">"scroll down"</span> to scroll down, and again check 
    for truncated content.
  </li>
  <li>
    Keep using the <span class="at-keys">"scroll down"</span> command and repeating 
    the check until you get to the bottom of the page.
  </li>
  <li>
    At the bottom of the page, say <span class="at-keys">"scroll up"</span> and 
    make sure you can scroll back to the top in increments the same way.
  </li>
  <li>
    Once you're back at the top, say <span class="at-keys">"scroll to bottom"</span> 
    and make sure when the page stops scrolling you are at the bottom of the page.
  </li>
  <li>
    Use the command <span class="at-keys">"scroll to top"</span> and make sure 
    when the page stops scrolling you are back at the top of the page.
  </li>
</ol>
{%- endset -%}