{%- set what -%}
<p>
  Confirm that:
  <ul>
    <li>
      all of the content can be observed and read just by scrolling up and down
    </li>
    <li>
      if you cannot read some content without scrolling horizontally, make sure 
      it is content defined in the exception list
    </li>
  </ul>
</p>
{%- endset -%}