{%- set how -%}
<p>
  You don't need to use Voice Control for these checks as they are just simulating 
  common problems. For each text field which has validation, do the following:
</p>
<ol>
  <li>
    Fill the field using only uppercase letters
  </li>
  <li>
    Submit the form and check validation.
  </li>
  <li>
    Fill the field using only lowercase letters
  </li>
  <li>
    Submit the form and check validation.
  </li>
  <li>
    Fill the field using a mix of both uppercase and lowercase letters
  </li>
  <li>
    Submit the form and check validation.
  </li>
</ol>
{%- endset -%}
