{%- set what -%}
<p>
  Confirm that:<span class="at-visually-hidden">: Navigate by links</span>
  <ul>
    <li>you can navigate to every link on the page</li>
    <li>all links are read out correctly</li>
    <li>all links are selected in a logical order</li>
    <li>no hidden links can be selected, skip links should appear when focussed</li>
  </ul>
</p>
{%- endset -%}