{%- set how -%}
<ol>
  <li>Fill in a form component incorrectly</li>
  <li>Progress until the validation error appears</li>
  <li>Once the error loads, wait for the screen reader to stop talking and observe whether it announced that there was an error</li>
  <li>Press <span class="at-keys">CTRL + ALT + SHIFT + I</span> to see if the title announces an error</li>
  <li>Press <span class="at-keys">CTRL + ALT + CMD + J</span> to move through the form fields and see if it obvious which field caused the error</li>
  <li>Observe whether the field which caused the error explains how to fix it</li>
</ol>
{%- endset -%}