{%- set what -%}
<p>
  Confirm that:
  <ul>
    <li>when validation errors occur, the screenreader announced to the user that there is an error</li>
    <li>
      the title of the page changes to indicate there is an error, for example: <span class="at-keys">Error:&nbsp;Your&nbsp;details</span>
    </li>
    <li>it is clear from the screenreader which field caused the error and how to fix it</li>
  </ul>
</p>
{%- endset -%}