{% set title = 'ZO-02: Images are clear enough' %}
{% set id = 'zo-02-images-are-clear-enough' %}

{% set description %}
<p>
  Confirm that images which are important for context are clear at 15x.
</p>
<p>
  Important images are those which are required for interactions such as icons, or 
  those which are important for setting context, such as maps.
</p>

{% endset %}
