{%- set what -%}
<p>
  Confirm that:
  <ul>
    <li>
      all icons are clear enough to distinguish at 15x.
    </li>
    <li>
      all non-decorative images are clear enough to distinguish at 15x.
    </li>
  </ul>
</p>
{%- endset -%}