{% set title = 'NVDA-05: Validation errors' %}
{% set id = 'nvda-05-validation-errors' %}

{% set description %}
<p>
  When a form cannot be submitted due to validation errors, those errors should be announced to a screenreader. When a validation error appears on the page, make sure it is the next thing which is announced and make sure that it makes sense.
</p>
{% endset %}