<h2 id="about-this-document">
  About this document
</h2>
<p>
  Voiceover should always be used with the Safari browser. Using it with any other 
  browser may cause unexpected behaviour.
</p>
<p>
  This {{data.assistiveTech.name}} test is designed to test whether your website 
  or service is likely to work using common functions of the {{data.assistiveTech.name}} 
  screenreader. It will not tell you if your service will work for every user, 
  but it will help you get an understanding as to how well you can expect your 
  service to work for {{data.assistiveTech.name}} users.
</p>
<p>
  You should also test your service with real users of {{data.assistiveTech.name}} 
  and other assistive technologies.
</p>