<nav role="navigation">
  <h2 id="tests">
    Navigation
  </h2>
  <ul>
    <li><a href="#vo-01-read-all-page-content">VO-01: Read all page content</a></li>
    <li><a href="#vo-02-rotor">VO-02: Rotor</a></li>
    <li><a href="#vo-03-landmarks-present">VO-03: Landmarks present</a></li>
    <li><a href="#vo-04-dynamic-content">VO-04: Dynamic content</a></li>
    <li><a href="#vo-05-validation-errors">VO-05: Validation errors</a></li>
    <li><a href="#vo-06-page-title-is-descriptive">VO-06: Page title is descriptive</a></li>
    <li><a href="#vo-07-links-make-sense-out-of-context">VO-07: Links make sense out of context</a></li>
    <li><a href="#vo-08-no-automatic-change-of-context">VO-08: No automatic change of context</a></li>
    <li><a href="#vo-09-bypass-blocks">VO-09: Bypass blocks</a></li>
    <li><a href="#vo-10-navigate-by-landmarks">VO-10: Navigate by landmarks</a></li>
    <li><a href="#vo-11-navigate-by-headings">VO-11: Navigate by headings</a></li>
    <li><a href="#vo-12-navigate-by-links">VO-12: Navigate by links</a></li>
    <li><a href="#vo-13-navigate-by-lists">VO-13: Navigate by lists</a></li>
    <li><a href="#vo-14-navigate-by-form-elements">VO-14: Navigate by form elements</a></li>
    <li><a href="#vo-15-navigate-by-tables">VO-15: Navigate by tables</a></li>
  </ul>
</nav>