{% set title = 'Text fields - copy and paste' %}
{% set id = 'text-fields-copy-and-paste' %}

{% set description %}
<p>
  Confirm that the user can paste clipboard data into text fields.
</p>

{% endset %}