{% set title = 'VC-07: Text fields - copy and paste' %}
{% set id = 'vc-07-text-fields-copy-and-paste' %}

{% set description %}
<p>
  Confirm that the user can paste clipboard data into text fields.
</p>

{% endset %}