{%- set how -%}
<p>
  For each text field, copy what you might expect to see in the field to your clipboard, 
  then do the following:
</p>
<ol>
  <li>
    Load the page.
  </li>
  <li>
    Say <span class="at-keys">"scroll down"</span> until the field you want to check 
    is on the screen.
  </li>
  <li>
    Say <span class="at-keys">"show numbers"</span> followed by the number of the 
    field you wish to edit.
  </li>
  <li>
    Say <span class="at-keys">"paste that"</span> to insert the clipboard data into 
    the text field.
  </li>  
</ol>
{%- endset -%}
