{%- set what -%}
<p>
  Confirm that:
  <ul>
    <li>
      clipboard data can be pasted into the field
    </li>
    <li>
      the data pasted in is identical to what you copied
    </li>
  </ul>
</p>
{%- endset -%}
