{%- set what -%}
<p>
  Confirm that:
  <ul>
    <li>all content is read out correctly</li>
    <li>all content follows a logical reading order</li>
    <li>the context is consistent between what is visible and what is read out</li>
    <li>content is not repeated; unless the repeated content is intentional in the design</li>
    <li>icons are read out in a meaningful way</li>
    <li>images have meaningful alternative text</li>
    <li>content does not rely on sensory characteristics, for example: "On the left"</li>
  </ul>
</p>
{%- endset -%}