{% set title = 'VC-02: Select interactive elements by number' %}
{% set id = 'vc-02-select-interactive-elements-by-number' %}

{% set description %}
<p>
  Confirm that all interactive elements are tagged by Voice Control.
</p>
<p>
  Interactive elements are anything the user might click on to do something. For example:
</p>
<ul>
  <li>links</li>
  <li>buttons</li>
  <li>text inputs</li>
  <li>radio buttons</li>
  <li>checkboxes</li>
  <li>drop downs</li>
</ul>

{% endset %}
