{%- set how -%}
<ol>
  <li>
    Load the page.
  </li>
  <li>
    Say <span class="at-keys">"show numbers"</span> to highlight all interactive 
    elements.
  </li>
  <li>
    Say the name of the number you which to select. For example: Say 
    <span class="at-keys">"five"</span> or <span class="at-keys">"choose five"</span> 
    to select the element tagged as 5.
  </li>
  <li>
    Repeat for each interactive element visible on the page.
  </li>
  <li>
    After you have tested each interactive element you can see, say 
    <span class="at-keys">"scroll down"</span> and repeat steps 2 to 4 until 
    you have checked every interactive element.
  </li>
</ol>
{%- endset -%}