{%- set what -%}
<p>
  Confirm that:
  <ul>
    <li>
      every interactive element is assigned a number by Voice Control
    </li>
    <li>
      every interactive element behaves as expected when selecting it by number
    </li>
  </ul>
</p>
{%- endset -%}