{% set title = 'Select interactive elements by label' %}
{% set id = 'select-interactive-elements-by-label' %}

{% set description %}
<p>
  Confirm that all interactive elements work using Voice Control's 'say what you see' 
  functionality.
</p>
<p>
  Interactive elements are anything the user might click on to do something. For example:
</p>
<ul>
  <li>links</li>
  <li>buttons</li>
  <li>text inputs</li>
  <li>radio buttons</li>
  <li>checkboxes</li>
  <li>drop downs</li>
</ul>

{% endset %}