{%- set what -%}
<p>
  Confirm that:
  <ul>
    <li>
      every interactive element can be selected by the text presented to the user
    </li>
    <li>
      every interactive element behaves as expected when selecting it by label
    </li>
  </ul>
</p>
{%- endset -%}