{% set title = 'NVDA-15: Navigate by radio buttons' %}
{% set id = 'nvda-15-navigate-by-radio-buttons' %}

{% set description %}
<p>
  A user should be able to navigate the page by radio buttons.
</p>
{% endset %}