{%- set how -%}
<ol>
  <li>Press <span class="at-keys">CTRL + Home</span> to navigate to the top of the page</li>
  <li>Press <span class="at-keys">R</span> to move through each of the radio buttons on the page</li>
  <li>Press <span class="at-keys">Arrow Keys</span> to move through each of the radio buttons in a group</li>
  <li>Press <span class="at-keys">Space</span> to check and uncheck each radio button</li>
</ol>
{%- endset -%}