{%- set what -%}
<p>
  Confirm that:
  <ul>
    <li>you can navigate to every radio button on the page</li>
    <li>you can navigate to every radio button in each group</li>
    <li>you can check and uncheck each radio button</li>
    <li>whenever a radio button is checked it is announced</li>
    <li>whenever a radio button is unchecked it is announced</li>
    <li>all radio button labels are read out correctly</li>
    <li>all radio buttons are navigated in a logical order</li>
    <li>no hidden radio buttons can be selected</li>
  </ul>
</p>
{%- endset -%}