{%- set how -%}
<ol>
  <li>Press <span class="at-keys">CTRL + OPTION + FN + Shift + Left Arrow</span> to navigate to the top of the page</li>
  <li>Press <span class="at-keys">CTRL + OPTION + CMD + T</span> to move through each of the tables on the page</li>
  <li>Hold <span class="at-keys">CTRL + OPTION</span> and use <span class="at-keys">Arrow Keys</span> to navigate between the columns and rows</li>
</ol>
{%- endset -%}