{%- set what -%}
<p>
  Confirm that:
  <ul>
    <li>you can navigate to every table on the page</li>
    <li>all tables are selected in a logical order</li>
    <li>all table headings are read out correctly</li>
    <li>table headings are read out for each cell in the table</li>
    <li>no hidden tables can be selected</li>
  </ul>
</p>
{%- endset -%}