{% set title = 'Text fields - whitespace' %}
{% set id = 'text-fields-whitespace' %}

{% set description %}
<p>
  Confirm that whitespace does not cause validation errors, where possible.
</p>
<p>
  Dictation software will often add whitespace characters after words when the 
  user pauses for breath. It will also automatically add whitespace on certain commands, 
  for example. If you say <span class="at-keys">"numeral 1"</span> 
  Voice Control will automatically add a space after the charcter. So, if you're 
  entering the year you were born it ends up being input as "1&nbsp;9&nbsp;5&nbsp;4".
</p>
{% endset %}