{% set title = 'ZO-04: Images on hover text' %}
{% set id = 'zo-04-images-on-hover-text' %}

{% set description %}
<p>
  Confirm that all important images on the page works using the Hover Text feature.
</p>
<p>
  Hover Text allows the user to view the alt text on images which may be too small 
  for the user to distinguish.
</p>

{% endset %}