{%- set how -%}
<ol>
  <li>
    Hold down <span class="at-keys">"CMD"</span> and hover over each image on the page.
    For long alt text you can scroll inside the hover text using the trackpad.
  </li>
</ol>
{%- endset -%}