{%- set what -%}
<p>
  Confirm that:
  <ul>
    <li>
      all important images either show a text alternative with the Hover Text feature 
      or that a text alternative is available in the visible page content.
    </li>
    <li>
      any alt text which is presented using the Hover Feature is accurate and meaningful
    </li>
  </ul>
</p>
{%- endset -%}