{%- set how -%}
<ol>
  <li>Press <span class="at-keys">Insert + F7</span> to display the "Element list"</li>
  <li>Navigate between the sections and check that what is on the page is reflected correctly</li>
</ol>
{%- endset -%}