{%- set how -%}
  <ol>
    <li>Press <span class="at-keys">CTRL + OPTION + U</span> to display the "Rotor"</li>
    <li>Press <span class="at-keys">Right Arrow</span> to get to "Landmarks"</li>
    <li>Check each landmark in the list</li>
  </ol>
{%- endset -%}