{%- set what -%}
  <p>
    Confirm that:
    <ul>
      <li>landmarks make sense and their role is accurate.</li>
      <li>the page has a header landmark (banner).</li>
      <li>the page has a footer landmark (contentinfo).</li>
      <li>the page has a main landmark.</li>
      <li>any aside landmarks are not contained inside another top level landmark such as the main.</li>
      <li>any additional header and footers do not have the role of banner and contentinfo. For example an article header.</li>
      <li>regions have not been incorrectly used to contain content that should otherwise be inside a named landmark.</li>
    </ul>
  </p>
{%- endset -%}