{%- set observations -%}
<p>
  [ Enter observations ]
</p>
{%- endset -%}

{% set section = {
  title: 'Navigate by landmarks',
  id: 'navigate-by-landmarks'
} %}

<section aria-describedby="{{section.id}}">
  <h2 id="{{section.id}}">
    {{section.title}}
  </h2>
  <p>
    A user should be able to navigate the page by landmarks. For example, you should be able to jump between the header to the main content to the footer without having to go through all of the elements contained in each of those sections.
  </p>

  <h3 id="how-to-check-{{section.id}}">
    How to check<span class="at-visually-hidden">: {{section.title}}</span>
  </h3>
  <ol>
    <li>Press <span class="at-keys">CTRL + Home</span> to go back to the top of the page</li>
    <li>Press <span class="at-keys">D</span> to move through each landmark</li>
  </ol>

  <h3 id="what-to-check-{{section.id}}">
    What to check<span class="at-visually-hidden">: {{section.title}}</span>
  </h3>
  <p>
    Confirm that:
    <ul>
      <li>you can navigate to every landmark on the page</li>
      <li>it is obvious which landmark is selected</li>
      <li>all landmarks are selected in a logical order</li>
      <li>all important content is contained within a landmark</li>
    </ul>
  </p>

  <h3 id="observations-{{section.id}}">
    Observations<span class="at-visually-hidden">: {{section.title}}</span>
  </h3>
  {{- observations | safe -}}
</section>