{%- set observations -%}
<p>
  [ Enter observations ]
</p>
{%- endset -%}

{% set section = {
  title: 'Navigate by combo boxes (drop downs)',
  id: 'navigate-by-combo-boxes-drop-downs'
} %}

<section aria-describedby="{{section.id}}">
  <h2 id="{{section.id}}">
    {{section.title}}
  </h2>
  <p>
    A user should be able to navigate the page by combo boxes. A combo box can also be known as a drop-down list or a select element.
  </p>

  <h3 id="how-to-check-{{section.id}}">
    How to check<span class="at-visually-hidden">: {{section.title}}</span>
  </h3>
  <ol>
    <li>Press <span class="at-keys">CTRL + Home</span> to navigate to the top of the page</li>
    <li>Press <span class="at-keys">C</span> to move through each of the combo boxes on the page</li>
  </ol>

  <h3 id="what-to-check-{{section.id}}">
    What to check<span class="at-visually-hidden">: {{section.title}}</span>
  </h3>
  <p>
    Confirm that:
  </p>
  <ul>
    <li>you can navigate to every combo box on the page</li>
    <li>all combo boxes are read out correctly</li>
    <li>all combo boxes are selected in a logical order</li>
    <li>no hidden combo boxes can be selected</li>
  </ul>

  <h3 id="observations-{{section.id}}">
    Observations<span class="at-visually-hidden">: {{section.title}}</span>
  </h3>
  {{- observations | safe -}}
</section>