{%- set observations -%}
<p>
  [ Enter observations ]
</p>
{%- endset -%}

{% set section = {
  title: 'Navigate by form elements',
  id: 'navigate-by-form-elements'
} %}


<section aria-describedby="{{section.id}}">
  <h2 id="{{section.id}}">
    {{section.title}}
  </h2>
  <p>
    A user should be able to navigate the page by form elements. This includes radio buttons, checkboxes, text fields etc.
  </p>

  <h3 id="how-to-check-{{section.id}}">
    How to check<span class="at-visually-hidden">: {{section.title}}</span>
  </h3>
  <ol>
    <li>Press <span class="at-keys">CTRL + Home</span> to navigate to the top of the page</li>
    <li>Press <span class="at-keys">F</span> to move through each of the form elements on the page</li>
  </ol>
  
  <h3 id="what-to-check-{{section.id}}">
    What to check<span class="at-visually-hidden">: {{section.title}}</span>
  </h3>
  <p>
    Confirm that:
    <ul>
      <li>you can navigate to every form element on the page</li>
      <li>all form elements are read out correctly</li>
      <li>all form elements are selected in a logical order</li>
      <li>no hidden form elements can be selected</li>
    </ul>
  </p>

  <h3 id="observations-{{section.id}}">
    Observations<span class="at-visually-hidden">: {{section.title}}</span>
  </h3>
  {{- observations | safe -}}
</section>