{%- set observations -%}
<p>
  [ Enter observations ]
</p>
{%- endset -%}

{% set section = {
  title: 'Landmarks present',
  id: 'landmarks-present'
} %}

<section aria-describedby="{{section.id}}">
  <h2 id="{{section.id}}">
    {{section.title}}
  </h2>
  <p>
    Confirm the page has semantic landmarks.
  </p>

  <h3 id="how-to-check-{{section.id}}">
    How to check<span class="at-visually-hidden">: {{section.title}}</span>
  </h3>
  <ol>
    <li>Press <span class="at-keys">Insert + F7</span> to display the "Element list"</li>
    <li>Select "Landmarks"</li>
    <li>Check each landmark in the Element list</li>
  </ol>

  <h3 id="what-to-check-{{section.id}}">
    What to check<span class="at-visually-hidden">: {{section.title}}</span>
  </h3>
  <p>
    Confirm that:
    <ul>
      <li>landmarks make sense and their role is accurate.</li>
      <li>the page has a header landmark (banner).</li>
      <li>the page has a footer landmark (contentinfo).</li>
      <li>the page has a main landmark.</li>
      <li>any aside landmarks are not contained inside another top level landmark such as the main.</li>
      <li>any additional header and footers do not have the role of banner and contentinfo. For example an article header.</li>
      <li>regions have not been incorrectly used to contain content that should otherwise be inside a named landmark.</li>
    </ul>
  </p>

  <h3 id="observations-{{section.id}}">
    Observations<span class="at-visually-hidden">: {{section.title}}</span>
  </h3>
  {{- observations | safe -}}
</section>