{%- set observations -%}
<p>
  [ Enter observations ]
</p>
{%- endset -%}

{% set section = {
  title: 'Page title is descriptive',
  id: 'page-title-is-descriptive'
} %}

<section aria-describedby="{{section.id}}">
  <h2 id="{{section.id}}">
    {{section.title}}
  </h2>
  <p>
    The page title should describe the current page, the website name and if it is a sub-site it should contain the parent site. For example:<br />
    <span class="at-keys">What is your name? - Apply for Universal Credit - GOV.UK</span>
  </p>
  <p>
    With the exception of a home page, the page title should match the H1. For example:<br />
    <span class="at-keys">h1: What is your name?</span><br />
    <span class="at-keys">title: What is your name? - Apply for Universal Credit - GOV.UK</span>
  </p>
  <p>
    If the H1 contains personal information, then the H1 should match as closely as possible. If the service is using analytics software, the page title will be sent and stored, so personally identifiable information should never be used in the page title. For example:<br />
    <span class="at-keys">h1: What is John Smith's date of birth?</span><br />
    <span class="at-keys">title: What is your partners date of birth?</span>
  </p>

  <h3 id="how-to-check-{{section.id}}">
    How to check<span class="at-visually-hidden">: {{section.title}}</span>
  </h3>
  <ol>
    <li>Press <span class="at-keys">Insert + T</span> to read out the page title</li>
  </ol>

  <h3 id="what-to-check-{{section.id}}">
    What to check<span class="at-visually-hidden">: {{section.title}}</span>
  </h3>
  <p>Confirm that:</p>
  <ul>
    <li>the page title describes the page</li>
    <li>the page title describes the website</li>
    <li>the page title does not contain personally identifiable information</li>
    <li>the page title and the h1 match (unless personally identifiable)</li>
  </ul>

  <h3 id="observations-{{section.id}}">
    Observations<span class="at-visually-hidden">: {{section.title}}</span>
  </h3>
  {{- observations | safe -}}
</section>