{%- set observations -%}
<p>
  [ Enter observations ]
</p>
{%- endset -%}

{% set section = {
  title: 'No automatic change of context',
  id: 'no-automatic-change-of-context'
} %}

<section aria-describedby="{{section.id}}">
  <h2 id="{{section.id}}">
    {{section.title}}
  </h2>
  <p>
    Unless there is a clear warning that the behaviour of an element has been modified, an element should not cause a change of context unless they receive deliberate input. For example: a form should not submit when you select a checkbox.
  </p>
  <p>
    A change in context means the content you were reading or the task you were busy doing has changed. For example, clicking a link and changing the page.
  </p>

  <h3 id="how-to-check-{{section.id}}">
    How to check<span class="at-visually-hidden">: {{section.title}}</span>
  </h3>
  <ol>
    <li>Press <span class="at-keys">CTRL + Home</span> to go back to the top of the page</li>
    <li>Press <span class="at-keys">tab</span> to navigate through the interactive elements</li>
    <li>Press <span class="at-keys">Arrow Keys</span> to navigate through radios and checkboxes</li>
  </ol>

  <h3 id="what-to-check-{{section.id}}">
    What to check<span class="at-visually-hidden">: {{section.title}}</span>
  </h3>
  <p>
    Confirm that one of the following is true:
    <ul>
      <li>there is no change in context without using a link or a button</li>
      <li>there is a clear warning for any modifications which cause a change of context</li>
    </ul>
  </p>

  <h3 id="observations-{{section.id}}">
    Observations<span class="at-visually-hidden">: {{section.title}}</span>
  </h3>
  {{- observations | safe -}}
</section>