<nav role="navigation">
  <h2 id="tests">
    Navigation
  </h2>
  <ul>
    <li><a href="#read-all-page-content">Read all page content</a></li>
    <li><a href="#element-list">Element list</a></li>
    <li><a href="#landmarks-present">Landmarks present</a></li>
    <li><a href="#dynamic-content">Dynamic content</a></li>
    <li><a href="#validation-errors">Validation errors</a></li>
    <li><a href="#page-title-is-descriptive">Page title is descriptive</a></li>
    <li><a href="#links-make-sense-out-of-context">Links make sense out of context</a></li>
    <li><a href="#no-automatic-change-of-context">No automatic change of context</a></li>
    <li><a href="#bypass-blocks">Bypass blocks</a></li>
    <li><a href="#navigate-by-landmarks">Navigate by landmarks</a></li>
    <li><a href="#navigate-by-headings">Navigate by headings</a></li>
    <li><a href="#navigate-by-links">Navigate by links</a></li>
    <li><a href="#navigate-by-lists">Navigate by lists</a></li>
    <li><a href="#navigate-by-buttons">Navigate by buttons</a></li>
    <li><a href="#navigate-by-radio-buttons">Navigate by radio buttons</a></li>
    <li><a href="#navigate-by-combo-boxes-drop-downs">Navigate by combo boxes (drop downs)</a></li>
    <li><a href="#navigate-by-checkboxes">Navigate by checkboxes</a></li>
    <li><a href="#navigate-by-form-elements">Navigate by form elements</a></li>
    <li><a href="#navigate-by-tables">Navigate by tables</a></li>
  </ul>
</nav>