<nav role="navigation">
  <h2 id="tests">
    Navigation
  </h2>
  <ul>
    <li><a href="#nvda-01-read-all-page-content">NVDA-01: Read all page content</a></li>
    <li><a href="#nvda-02-element-list">NVDA-02: Element list</a></li>
    <li><a href="#nvda-03-landmarks-present">NVDA-03: Landmarks present</a></li>
    <li><a href="#nvda-04-dynamic-content">NVDA-04: Dynamic content</a></li>
    <li><a href="#nvda-05-validation-errors">NVDA-05: Validation errors</a></li>
    <li><a href="#nvda-06-page-title-is-descriptive">NVDA-06: Page title is descriptive</a></li>
    <li><a href="#nvda-07-links-make-sense-out-of-context">NVDA-07: Links make sense out of context</a></li>
    <li><a href="#nvda-08-no-automatic-change-of-context">NVDA-08: No automatic change of context</a></li>
    <li><a href="#nvda-09-bypass-blocks">NVDA-09: Bypass blocks</a></li>
    <li><a href="#nvda-10-navigate-by-landmarks">NVDA-10: Navigate by landmarks</a></li>
    <li><a href="#nvda-11-navigate-by-headings">NVDA-11: Navigate by headings</a></li>
    <li><a href="#nvda-12-navigate-by-links">NVDA-12: Navigate by links</a></li>
    <li><a href="#nvda-13-navigate-by-lists">NVDA-13: Navigate by lists</a></li>
    <li><a href="#nvda-14-navigate-by-buttons">NVDA-14: Navigate by buttons</a></li>
    <li><a href="#nvda-15-navigate-by-radio-buttons">NVDA-15: Navigate by radio buttons</a></li>
    <li><a href="#nvda-16-navigate-by-combo-boxes-drop-downs">NVDA-16: Navigate by combo boxes (drop downs)</a></li>
    <li><a href="#nvda-17-navigate-by-checkboxes">NVDA-17: Navigate by checkboxes</a></li>
    <li><a href="#nvda-18-navigate-by-form-elements">NVDA-18: Navigate by form elements</a></li>
    <li><a href="#nvda-19-navigate-by-tables">NVDA-19: Navigate by tables</a></li>
  </ul>
</nav>