{% set title = 'Text is readable' %}
{% set id = 'text-is-readable' %}

{% set description %}
<p>
  Confirm that when zoomed in to 15x the text can still be read.
</p>
<p>
  When zooming in, poor fonts or images of text can become unreadable as they become 
  pixelated.
</p>

{% endset %}