{%- set how -%}
<ol>
  <li>
    Use <span class="at-keys">"OPTION + CMD + ="</span> to zoom in to 15x 
    (as per the configuration).
  </li>
  <li>
    Navigate around the entire page while zoomed in.
  </li>
</ol>
{%- endset -%}