{% set title = 'VO-01: Read all page content' %}
{% set id = 'vo-01-read-all-page-content' %}

{% set description %}
<p>
  Confirm that the content on the page can be read and that the navigation and page content follow a logical reading order.
</p>
{% endset %}