{%- set how -%}
<ol>
  <li>Press <span class="at-keys">CTRL + OPTION + FN + Shift + Left Arrow</span> to go to the top of the page</li>
  <li>Press <span class="at-keys">CTRL + OPTION + A</span> to read all content from current position</li>
  <li>Listen to all of the page content</li>
</ol>
{%- endset -%}