<h2 id="about-this-document">
  About this document
</h2>
<p>
  Before tesing using OS X Zoom, you will need to configure the settings.
</p>
<ol>
  <li>Go to <span class="at-keys">System Preferences > Accessibility > Zoom</span>.</li>
  <li>
    Turn on the option for <span class="at-keys">use keyboard shortcuts to zoom</span>. 
    This will enable accurate zooming to the required level for the tests.
  </li>
  <li>Turn on the option for <span class="at-keys">enable hover text</span>.</li>
  <li>Select <span class="at-keys">Advanced</span> and then <span class="at-keys">Controls</span>.</li>
  <li>Set the <span class="at-keys">Maximum Zoom</span> to 15. This will enable you to know when you are zoomed in to 15x.</li>
</ol>
<p>
  This {{details.assistiveTech.name}} test is designed to test whether your website 
  or service is likely to work using common functions of zoom software. It will 
  not tell you if your service will work for every user, but it will help you get 
  an understanding as to how well you can expect your service to work for 
  {{details.assistiveTech.name}} users.
</p>
<p>
  You should also test your service with real users of {{details.assistiveTech.name}} 
  and other assistive technologies.
</p>