<nav role="navigation">
  <h2 id="tests">
    Navigation
  </h2>
  <ul>
    <li><a href="#text-is-readable">Text is readable</a></li>
    <li><a href="#images-are-clear-enough">Images are clear enough</a></li>
    <li><a href="#text-on-hover-text">Text on hover text</a></li>
    <li><a href="#images-on-hover-text">Images on hover text</a></li>
  </ul>
</nav>