<nav role="navigation">
  <h2 id="tests">
    Navigation
  </h2>
  <ul>
    <li><a href="#zo-01-text-is-readable">ZO-01: Text is readable</a></li>
    <li><a href="#zo-02-images-are-clear-enough">ZO-02: Images are clear enough</a></li>
    <li><a href="#zo-03-text-on-hover-text">ZO-03: Text on hover text</a></li>
    <li><a href="#zo-04-images-on-hover-text">ZO-04: Images on hover text</a></li>
  </ul>
</nav>