{%- set how -%}
<ol>
  <li>Press <span class="at-keys">CTRL + ALT + FN + Left Arrow</span> to navigate to the top of the page</li>
  <li>Press <span class="at-keys">CTRL + ALT + CMD + L</span> to move through each of the links on the page</li>
</ol>
{%- endset -%}