{%- set how -%}
<ol>
  <li>Press <span class="at-keys">CTRL + OPTION + FN + Shift + Left Arrow</span> to go to the top of the page</li>
  <li>Press <span class="at-keys">tab</span> and look for an element which skips over repetitive content such as navigation menus</li>
</ol>
{%- endset -%}