{%- set what -%}
<p>
  Confirm that:
  <ul>
    <li>a skip link is present that links to the main content</li>
    <li>the skip link is the first interactive element on the page</li>
    <li>any other blocks of repetitive content are also skipped or have their own skip links</li>
  </ul>
</p>
{%- endset -%}