{%- set how -%}
<ol>
  <li>Press <span class="at-keys">CTRL + OPTION + FN + Shift + Left Arrow</span> to navigate to the top of the page</li>
  <li>Press <span class="at-keys">CTRL + OPTION + CMD + H</span> to move through each of the headings on the page</li>
</ol>
{%- endset -%}