{%- set what -%}
<p>
  Confirm that:
  <ul>
    <li>you can navigate to every heading on the page</li>
    <li>all headings are read out correctly</li>
    <li>all headings are selected in a logical order</li>
    <li>headings levels are correct, for example: a H3 relates to the previous H2</li>
    <li>any hidden headings relate to the content which follows it</li>
  </ul>
</p>
{%- endset -%}