{% set title = 'VC-03: Navigate by form fields' %}
{% set id = 'vc-03-navigate-by-form-fields' %}

{% set description %}
<p>
  Confirm that the page can be navigated by form fields and that they are in 
  a logical reading order.
</p>
<p>
  Note that Voice Over considers fields to be text inputs, textareas and select boxes, 
  it does not consider radio buttons or checkboxes. If go to next field does not 
  focus radio buttons or checkboxes, this is the default expected behaviour. 
</p>

{% endset %}