{% set title = 'Links make sense out of context' %}
{% set id = 'links-make-sense-out-of-context' %}

{% set description %}
<p>
  Every link should be predictable, even if the surrounding context is removed. No links should just say 'Read more' or 'click here'.
</p>
{% endset %}