{% extends '../layouts/base.njk' %}

{% set data = {
  date: '[date]',
  site: {
    name: '[site name]',
    http: '[http or https]',
    url: 'www.[url].[domain]'
  },
  tester: {
    name: '[tester name]',
    url: '[tester contact url]'
  },
  assistiveTech: {
    name: 'NVDA',
    id: 'nvda',
    browser: '[browser and version]',
    version: '[assistive tech version]'
  }
} %}

{% block headerContent %}
  {% include './partials/details.njk' %}
  {% include './partials/about-this-document.njk' %}
{% endblock %}

{% block nav %}
  {% include './partials/nav.njk' %}
{% endblock %}

{% block content %}
  {% include './partials/1.read-all-page-content.njk' %}
  {% include './partials/2.element-list.njk' %}
  {% include './partials/3.landmarks-present.njk' %}
  {% include './partials/4.dynamic-content.njk' %}
  {% include './partials/5.validation-errors.njk' %}
  {% include './partials/6.page-title-is-descriptive.njk' %}
  {% include './partials/7.links-make-sense-out-of-context.njk' %}
  {% include './partials/8.no-automatic-change-of-context.njk' %}
  {% include './partials/9.bypass-blocks.njk' %}
  {% include './partials/10.navigate-by-landmarks.njk' %}
  {% include './partials/11.navigate-by-headings.njk' %}
  {% include './partials/12.navigate-by-links.njk' %}
  {% include './partials/13.navigate-by-lists.njk' %}
  {% include './partials/14.navigate-by-buttons.njk' %}
  {% include './partials/15.navigate-by-radio-buttons.njk' %}
  {% include './partials/16.navigate-by-combo-box-drop-downs.njk' %}
  {% include './partials/17.navigate-by-checkbox.njk' %}
  {% include './partials/18.navigate-by-form-element.njk' %}
  {% include './partials/19.navigate-by-table.njk' %}
{% endblock %}

{% block footer %}
  <a href="https://github.com/dwp/assistive-technology-testing-templates">
    DWP {{data.assistiveTech.name}} Testing Template version 1.0
  </a>
{% endblock %}