{%- set how -%}
<p>
  Complete the step-by-step journey until you get to the page you want to test, 
  then do the following:
</p>
<ol>
  <li>
    Say <span class="at-keys">"go back"</span> so the browser navigates to the 
    previous screen.
  </li>
  <li>
    Say <span class="at-keys">"go forwards"</span> so the browser navigates back 
    the the page you are testing.
  </li>
</ol>
{%- endset -%}
