{% set title = 'Text fields - expected format' %}
{% set id = 'text-fields-expected-format' %}

{% set description %}
<p>
  Confirm that all form fields can be edited easily to meet the format expected 
  by the application. For example, an email address or National Insurance number.
</p>
<p>
  If you are unsure how to input a particular symbol, you can 
  <a href="https://support.apple.com/guide/mac-help/commands-for-dictating-text-on-mac-mh40695/mac">
  view all commands for dictating text on Apples website</a>.
</p>
{% endset %}