{% set title = 'ZO-03: Text on hover text' %}
{% set id = 'zo-03-text-on-hover-text' %}

{% set description %}
<p>
  Confirm that all text on the page works using the Hover Text feature.
</p>
<p>
  Hover Text allows the user to view the text under the mouse pointer larger without 
  having to zoom in.
</p>

{% endset %}