{%- set how -%}
<ol>
  <li>
    Hold down <span class="at-keys">"CMD"</span> and hover over each piece of text 
    on the page. For long paragraphs you can scroll inside the hover text using the trackpad.
  </li>
</ol>
{%- endset -%}