{%- set what -%}
<p>
  Confirm that:
  <ul>
    <li>
      all text on the page works with the Hover Text feature
    </li>
    <li>
      all text in the Hover Text feature matches the visible text on the page
    </li>
  </ul>
</p>
{%- endset -%}