{%- set how -%}
<ol>
  <li>
    Load the page.
  </li>
  <li>
    Say <span class="at-keys">"go to next field"</span> to focus the first field 
    on the page. 
  </li>
  <li>
    Repeat the command to move through each of the fields.
  </li>
  <li>
    When you get to the last field on the page, say <span class="at-keys">"go to previous field"</span> 
    and repeat the test in reverse until you get back to the first field.
  </li>
</ol>
{%- endset -%}
