{%- set what -%}
<p>
  Confirm that:
  <ul>
    <li>
      every form field can be focussed
    </li>
    <li>
      it is obvious which field is focussed at all times
    </li>
    <li>
      focussing a field does not cause a change of context, such as 
      submitting the form or redirecting to another page.
    </li>
    <li>
      every element is selected in a logical reading order. Left-to-right and 
      top-to-bottom.
    </li>
    <li>
      no element is skipped or focussed in the wrong order
    </li>
  </ul>
</p>
{%- endset -%}
