{% set title = 'NVDA-16: Navigate by combo boxes (drop downs)' %}
{% set id = 'nvda-16-navigate-by-combo-boxes-drop-downs' %}

{% set description %}
<p>
  A user should be able to navigate the page by combo boxes. A combo box can also be known as a drop-down list or a select element.
</p>
{% endset %}