{%- set how -%}
<ol>
  <li>Press <span class="at-keys">CTRL + Home</span> to navigate to the top of the page</li>
  <li>Press <span class="at-keys">C</span> to move through each of the combo boxes on the page</li>
  <li>Press <span class="at-keys">Return</span> to bind NVDA controls to a combo box</li>
  <li>Press <span class="at-keys">Return</span> again open the combo box</li>
  <li>Press <span class="at-keys">Down Arrow Key</span> to move through the options</li>
  <li>Press <span class="at-keys">Return</span> to select an option</li>
  <li>Press <span class="at-keys">Escape</span> to unbind NVDA controls</li>
</ol>
{%- endset -%}