{% set title = 'VC-08: Navigate back and forwards' %}
{% set id = 'vc-08-navigate-back-and-forwards' %}

{% set description %}
<p>
  Confirm that the user can go back and forwards in the browser without errors if 
  the page is part of a step-by-step journey.
</p>

{% endset %}