{%- set what -%}
<p>
  Confirm that:
  <ul>
    <li>
      when you go back, the browser navigates back to the screen you were previously on
    </li>
    <li>
      when you go back to the previous screen, the website does not break or force you 
      to start the step-by-step journey again
    </li>
    <li>
      when you go forwards, the browser navigates you back to the screen you're 
      testing
    </li>
    <li>
      when you go forwards to the page you were testing, the website does not break 
      or force you to start the step-by-step journey again
    </li>
  </ul>
</p>
{%- endset -%}
