{%- set what -%}
<p>
  Confirm that:
  <ul>
    <li>you can navigate to every landmark on the page</li>
    <li>it is obvious which landmark is selected</li>
    <li>all landmarks are selected in a logical order</li>
    <li>all important content is contained within a landmark</li>
  </ul>
</p>
{%- endset -%}