{% set title = 'VO-14: Navigate by form elements' %}
{% set id = 'vo-14-navigate-by-form-elements' %}

{% set description %}
<p>
  A user should be able to navigate the page by form elements. This includes radio buttons, checkboxes, text fields etc.
</p>
{% endset %}