{%- set what -%}
<p>
  Confirm that:
  <ul>
    <li>you can navigate to every form element on the page</li>
    <li>all form elements are read out correctly</li>
    <li>all form elements are selected in a logical order</li>
    <li>no hidden form elements can be selected</li>
  </ul>
</p>
{%- endset -%}