{% set title = 'NVDA-08: No automatic change of context' %}
{% set id = 'nvda-08-no-automatic-change-of-context' %}

{% set description %}
<p>
  Unless there is a clear warning that the behaviour of an element has been modified, an element should not cause a change of context unless they receive deliberate input. For example: a form should not submit when you select a checkbox.
</p>
<p>
  A change in context means the content you were reading or the task you were busy doing has changed. For example, clicking a link and changing the page.
</p>
{% endset %}