{%- set how -%}
<ol>
  <li>Press <span class="at-keys">CTRL + Home</span> to go back to the top of the page</li>
  <li>Press <span class="at-keys">tab</span> to navigate through the interactive elements</li>
  <li>Press <span class="at-keys">Arrow Keys</span> to navigate through radios and checkboxes</li>
</ol>
{%- endset -%}