{%- set what -%}
<p>
  Confirm that one of the following is true:
  <ul>
    <li>there is no change in context without using a link or a button</li>
    <li>there is a clear warning for any modifications which cause a change of context</li>
  </ul>
</p>
{%- endset -%}