<nav role="navigation">
  <h2 id="tests">
    Navigation
  </h2>
  <ul>
    <li><a href="#vc-01-read-all-page-content">VC-01: Read all page content</a></li>
    <li><a href="#vc-02-select-interactive-elements-by-number">VC-02: Select interactive elements by number</a></li>
    <li><a href="#vc-03-navigate-by-form-fields">VC-03: Navigate by form fields</a></li>
    <li><a href="#vc-04-text-fields-expected-format">VC-04: Text fields - expected format</a></li>
    <li><a href="#vc-05-text-fields-whitespace">VC-05: Text fields - whitespace</a></li>
    <li><a href="#vc-06-text-fields-case-sensitive">VC-06: Text fields - case sensitive</a></li>
    <li><a href="#vc-07-text-fields-copy-and-paste">VC-07: Text fields - copy and paste</a></li>
    <li><a href="#vc-08-navigate-back-and-forwards">VC-08: Navigate back and forwards</a></li>
  </ul>
</nav>