<nav role="navigation">
  <h2 id="tests">
    Navigation
  </h2>
  <ul>
    <li><a href="#read-all-page-content">Read all page content</a></li>
    <li><a href="#select-interactive-elements-by-number">Select interactive elements by number</a></li>
    <li><a href="#navigate-by-form-fields">Navigate by form fields</a></li>
    <li><a href="#text-fields-expected-format">Text fields - expected format</a></li>
    <li><a href="#text-fields-whitespace">Text fields - whitespace</a></li>
    <li><a href="#text-fields-case-sensitive">Text fields - case sensitive</a></li>
    <li><a href="#text-fields-copy-and-paste">Text fields - copy and paste</a></li>
    <li><a href="#navigate-back-and-forwards">Navigate back and forwards</a></li>
  </ul>
</nav>