{% set title = 'VO-10: Navigate by landmarks' %}
{% set id = 'vo-10-navigate-by-landmarks' %}

{% set description %}
<p>
  A user should be able to navigate the page by landmarks. For example, you should be able to jump between the header to the main content to the footer without having to go through all of the elements contained in each of those sections.
</p>
{% endset %}