{%- set how -%}
<ol>
  <li>Press <span class="at-keys">CTRL + ALT + FN + Left Arrow</span> to go back to the top of the page</li>
  <li>Press <span class="at-keys">CTRL + ALT + SHIFT + Right Arrow</span> to move through each landmark</li>
</ol>
{%- endset -%}